#Ignore Thumbs.db file
Thumbs.db

#Ignore data directory
L1000N1800/

#Ignore plotting directory
Plots/	

#Ignore batch files directory
batch_files/

#Ignore bash scripts
*.sh	

#Ignore SLURM output scripts
*.dump
*.out
*.err